<!DOCTYPE html>
<html>

<head>
<style>
body{text-align: center;}
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
    width:100%;	 
}

.div_line{
	width:1000px;
	height: 60px;
	margin: 0 auto;
	

}

.big{

	width: 100%;

}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:15px;
    position:fixed;
    bottom:0;
    width:100%;
}
</style>
</head>

<body>

<header>
<h1>Recommendation Engine</h1>
</header>


<div  class="big">
    <script type="text/javascript">
        
        alert("请检查用户id是否正确！！！");
        window.history.go(-1)

    </script>

</div>

<footer>

</footer>

</body>
</html>
