<!DOCTYPE html>
<html>

<head>
<style>
body{text-align: center;}
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;	 
}

.div_line{
	width:1000px;
	height: 60px;
	margin: 0 auto;
	

}

.big{

	width: 100%;

}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:15px;
    position:fixed;
    bottom:0;
    width:100%
}
</style>
</head>

<body>

<header>
<h1>Recommendation Engine</h1>
</header>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div>
			<div>
			<form action="" method = 'post'>
		  please input a user name: <input type="text" name="u"/>
		  <input type="submit" value="Submit" />
			</form>
		</div>
	</div>

		

<footer>

</footer>

</body>
</html>

		
